form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-group.inline, .form-group.inline > * {
  display: inline-block !important;
  padding: 0em;
}

.form-group.inline {
  margin-right: 3em;
  padding-left: 1.35em;
}

.form-group.inline .col-form-label {
  text-align: justify;
}

.btn.btn-lg.btn-primary {
  width: 5em;
  text-align: center;
}

table th {
  border-color: #007BFF !important;
  border-width: 2px !important;
}
