.form-group.inline, .form-group.inline > * {
  display: inline-block !important;
  padding: 0em;
}

.form-group.inline {
  margin-right: 3em;
  padding-left: 1.2em;
}

.form-group.inline .col-form-label {
  text-align: justify;
}

.btn.btn-lg.btn-primary {
  width: 5em;
  text-align: center;
}

.nav-link {
  width: 10em;
  font-weight: bold;
  text-align: center;
}
.nav-link:hover {
  color: #007BFF !important;
}

svg {
  width: 1.2em;
  height: 1.2em;
}
